<a name="academic_integrity_policy"></a>

<p>Like most courses, this course includes <em>learning activities</em> (of which assignments are a part) and <em>evaluation activities</em> (of which exams are a part). You are mostly free to engage with the learning activities in the way that best helps you learn.  But the learning activities are designed to help you pass the evaluation activities, where you have less freedom regarding how to engage.  So, be advised that it's in your best interest to engage <em>appropriately</em> with the learning activities.</p>

<p>What does "appropriate" engagement with assignments in this course look like?  You can:</p>

<ul>
  <li>Ask the course staff for help and advice as needed. That's what we're here for.</li>
  <li>Ask your classmates for help and advice as needed, but don't copy from anyone else: once you understand the concepts, you must write your own code.</li>
  <li>Consult resources suggested by the course staff.</li>
  <li>Use publicly available resources you find, such as online documentation.</li>
</ul>

<p>Additionally, <strong>you must cite any sources you use</strong>.  When you submit a homework assignment, you must include at the top level of your assignment repository a file called <em>INTEGRITY.md</em> that gives credit to all sources you used while working on the assignment.  So that you have an idea of the level of detail that is expected, we have provided an <a href="/spring25/static_files/INTEGRITY.example.md">example <em>INTEGRITY.md</em> file</a>. <strong>Thorough citation is the way to avoid running afoul of accusations of misconduct.</strong></p>

<p>The integrity statements you submit will be read by the course staff -- not to try to catch you out, but rather as an opportunity to learn about the parts of the assignments you found difficult, and whether the resources you made use of were effective for you.</p>

<a name="generative_ai_policy"></a>
<h3>Policy on the use of generative AI tools</h3>

<p>You are welcome to <em>try</em> using generative AI tools for homework assignments in this course.  But after seeing how their use hurt students the last couple of times I've taught this course, I honestly don't recommend it.  If the tool generates answers that you don't understand, are not reasonably confident of the correctness of, or would struggle to explain to the course staff, then the tool is hurting you more than it's helping, and you should seek help from the course staff instead.</p>

<p>If you use any generative AI tool with a chat-style interface in this course, you need to specify which tool you used and provide <strong>a complete transcript of your entire interaction with the tool</strong>, including all the prompts you gave to the tool and all of its responses.  You can either include a link to the transcript in your INTEGRITY.md file, or you can copy and paste the entire transcript into the file.  The term "generative AI tool with a chat-style interface" includes (but is not limited to) ChatGPT, Claude, and the GitHub Copilot chat interface.</p>
  
<p>Of course, we haven't even begun to address the topic of <a href="https://dl.acm.org/doi/10.1145/3442188.3445922">the myriad environmental, social, and ethical problems involved in the training, deployment, and use of generative AI tools based on large language models</a>, but that's a topic for another course.</p>




