<ul>
    {% for p in site.data.late_policy.policies%}
    <li>{{ p }}</li>
    {% endfor %}
</ul>

<h3><strong>Health absences and makeup policies</strong></h3>
    <p>For your own well-being as well as your classmates, some of whom may have
    compromised immune systems or increased risk of serious complications,
    <strong>please do not come to class if you feel sick.</strong> In particular, if you
    have symptoms in any way similar to extremely contagious diseases such as
    COVID-19, please err on the side of caution and stay home until you have
    tested negative or are no longer contagious. Consider masking indoors to prevent 
    exposure and keep yourself healthy and able to complete your coursework.</p>
    
    <p><b>Class participation policies, homework late days, and grading policies
    have been designed to include slack for occasional illnesses and unavoidable
    absences for family emergencies.</b> In rare cases of an extended illness
    (e.g., a week or more), or sudden illness/emergency impacting an exam, some
    accommodations are possible but not guaranteed. Limited homework extensions,
    alternate testing locations, or a makeup exam up to 2 days after an exam
    date may be offered -- at the discretion of the instructor -- in these
    rare cases. Students should make every effort to plan ahead to limit the
    impact of unforeseen circumstances on their ability to successfully complete
    coursework.</p>
    
    <p>For more information on reasonable limitations and expectations regarding
    makeup assignments and exams, you can refer to the following memos from the 
    Academic Senate <a
    href="https://senate.ucsc.edu/committees/cep-committee-on-educational-policy/policies-guidelines/index.html">
    Committee on Educational Policy:</a>
    <ul>
        <li><a href="https://senate.ucsc.edu/committees/cep-committee-on-educational-policy/policies-guidelines/cep-student-health-center-policy-on-medical-excuses-100919.pdf">
            Student Health Center Policy on Medical Excuses
        </a></li>
        <li><a href="https://senate.ucsc.edu/committees/cep-committee-on-educational-policy/policies-guidelines/final-examinations-policy-rev-20192.pdf">
            Policy on Final Examinations
        </a></li>
    </ul></p>
